# Dependencias
/node_modules

# Archivos de build
/dist
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno - ¡MUY IMPORTANTE!
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos del sistema operativo
.DS_Store
Thumbs.db
